In [15]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import viz # curriculum viz example code

np.random.seed(123)

1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

What is the probability that no cars drive up in the noon hour?
What is the probability that 3 or more cars come through the drive through?
How likely is it that the drive through gets at least 1 car?

In [3]:
stats.poisson(2).pmf(0)

0.1353352832366127

In [23]:
stats.poisson(2).sf(2)

0.32332358381693654

In [24]:
stats.poisson(2).sf(0)

0.8646647167633873

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

What grade point average is required to be in the top 5% of the graduating class?
What GPA constitutes the bottom 15% of the class?
An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
If I have a GPA of 3.5, what percentile am I in?

In [21]:
grades_distribution = stats.randint(0, 5)

In [7]:
grades = stats.norm(3.0, 0.3)

In [27]:
top_5_percent_cutoff = grades.isf(.05)

In [28]:
print("Minimal GPA to be in the top 5% is: "'{:,.2f}'.format(top_5_percent_cutoff))

Minimal GPA to be in the top 5% is: 3.49

In [31]:
bottom_15_percent = grades.isf(.85).round(2)

In [33]:
print(f"The GPA for the bottom 15% is: {bottom_15_percent}")

The GPA for the bottom 15% is: 2.69

In [36]:
print(f"The range of GPAs are {grades.ppf(.2).round(2)} to {grades.ppf(.3).round(2)}")

The range of GPAs are 2.75 to 2.84

In [39]:
print(f"The percentile of a 3.5 GPA is: {grades.cdf(3.5).round(2)}")

The percentile of a 3.5 GPA is: 0.95

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [44]:
click_data = stats.binom(4326, .02)
print(f"The probability of 97 click-throughs happening is: {click_data.sf(96).round(2)}")

The probability of 97 click-throughs happening is: 0.14

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

What is the probability that at least one of your first 60 answers is correct?

In [47]:
guess = stats.binom(100, .01)
print(f"The probability of at least one answer in the first 60 is: {guess.cdf(60).round(2)}")

The probability of at least one answer in the first 60 is: 1.0

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [55]:
n_trials = .9 * (3*22)
p = .03
clean = stats.binom(n_trials, p).sf(0)

In [61]:
not_clean = 1-clean
not_clean_for_two_days = not_clean * not_clean
print(f"The likelyhood not getting cleaned over 2 days is: {not_clean_for_two_days.round(2)}")

The likelyhood not getting cleaned over 2 days is: 0.03

In [66]:
not_clean_for_5_days = not_clean * not_clean * not_clean * not_clean * not_clean
print(f"The likelihood not getting cleaned over 5 days is: {not_clean_for_5_days.round(4)}")

The likelihood not getting cleaned over 5 days is: 0.0001

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [69]:
line = stats.norm(15,3)
print(f"The likelihood of having at least 15 minutes to eat your food is: {line.pdf(15).round(2)}")

The likelihood of having at least 15 minutes to eat your food is: 0.13

In [37]:
lunch = 60
o_time = 2
c_time = 10
e_time = 15

max_wait = lunch - o_time - c_time - e_time

mean = (15 * 2)
std_dev = (3 * 2)

print(f"The likelihood of having at least 15 minutes to eat your food is: {stats.norm(mean, std_dev).cdf(max_wait).round(2)}")

The likelihood of having at least 15 minutes to eat your food is: 0.69

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

What percent of employees earn less than 60,000?
What percent of employees earn more than 95,000?
What percent of employees earn between 65,000 and 80,000?
What do the top 5% of employees make?

In [1]:
import pandas as pd
import numpy as np
from env import host, password, username
def get_connection(db, user=username, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
url = get_connection('employees', username, host, password)

In [11]:

salaries_df = pd.read_sql('select * from salaries where to_date = "9999-01-01" ', url)

In [13]:
salaries_df.describe()

              emp_no         salary
count  240124.000000  240124.000000
mean   253080.615365   72012.235857
std    161853.087323   17309.995380
min     10001.000000   38623.000000
25%     84878.750000   59048.750000
50%    249792.500000   69805.000000
75%    424895.250000   82546.000000
max    499999.000000  158220.000000

In [16]:
data = stats.norm(72012.235857, 17309.995380)

In [40]:
print(f"The percentage of employees who make less than 60,000 is: {data.cdf(60000).round(2)}")

The percentage of employees who make less than 60,000 is: 0.24

In [23]:
print(f"The percentage of employees that make more than 95,000 is: {data.sf(95000).round(2)}")

The percentage of employees that make more than 95,000 is: 0.09

In [39]:
print(f"The percentage of employees that make between 65,000 and 80,000 is: {(data.sf(65000)-data.sf(80000)).round(2)}")

The percentage of employees that make between 65,000 and 80,000 is: 0.34

In [28]:
print(f"The top 5% of employees make: {data.isf(.05).round(2)}")

The top 5% of employees make: 100484.64